<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://www.google-analytics.com">

    <meta name="description" content="I am a full-stack developer specializing in JavaScript based stack. A seasoned technologist, I have over 8 years of experience in developing web based applications, APIs, Android apps leveraging JavaScript based stack (NodeJS, GraphQL, MongoDB, Angular, Bootstrap), Java and PAASs.">
    <meta name="author" content="Jaibatrik Dutta">
    <meta name="theme-color" content="#2C3E50">
    <link rel="icon" type='image/jpeg' sizes='256x256' href="img/profile.jpg" />

    <title>Jaibatrik Dutta - Software Engineer | Full Stack Developer | User Experience Enthusiast</title>

    <meta property="og:url" content="https://jaibatrik.online" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Jaibatrik Dutta - Web Developer | Mobile Developer | UX Designer" />
    <meta property="og:description" content="I am a full-stack developer specializing in JavaScript based stack. A seasoned technologist, I have over 8 years of experience in developing web based applications, APIs, Android apps leveraging JavaScript based stack (NodeJS, GraphQL, MongoDB, Angular, Bootstrap), Java and PAASs." />
    <meta property="og:image" content="https://jaibatrik.online/img/profile.webp" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129288651-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-129288651-1');
    </script>

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Jaibatrik Dutta</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Projects</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/resume" target="_blank">Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto rounded-circle profile-picture" src="img/profile.webp" alt="">
            <h1 class="text-uppercase mb-0">Jaibatrik Dutta</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Full Stack Developer - Mobile Developer - User Experience Enthusiast</h2>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Projects</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto nostyle noline" href="https://priceupdates.in" target="_blank">
                        <div class="portfolio-content d-flex flex-column p-4" style="background-color: #BA4C63;">
                            <h3>PriceUpdates.in</h3>
                            <p class="flex-grow-1" style="text-decoration: none;">
                                PriceUpdates.in is a product discovery platform that helps you find the best deals at right time from Indian online shopping websites.
                            </p>
                            <div class="d-flex flex-wrap">
                                <span class="badge badge-info mr-1 mt-2">NodeJS</span>
                                <span class="badge badge-info mr-1 mt-2">MongoDB</span>
                                <span class="badge badge-info mr-1 mt-2">GraphQL</span>
                                <span class="badge badge-info mr-1 mt-2">Angular</span>
                                <span class="badge badge-info mr-1 mt-2">Android</span>
                                <span class="badge badge-info mr-1 mt-2">Redis</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto nostyle noline" href="https://play.google.com/store/apps/details?id=in.abacritt.android.easytodo&hl=en_US" target="_blank">
                        <div class="portfolio-content d-flex flex-column p-4" style="background-color: #1FA4B6;">
                            <h3>EasyTodo for Android</h3>
                            <p class="flex-grow-1" style="text-decoration: none;">
                                EasyTodo is a simple task and to-do list for Android with 10000+ downloads and 4+ rating in Google Play Store.
                            </p>
                            <div class="d-flex">
                                <span class="badge badge-secondary mr-1">Android</span>
                                <span class="badge badge-secondary mr-1">Java</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto nostyle noline" href="https://github.com/abacritt/angularx-social-login"
                        target="_blank">
                        <div class="portfolio-content d-flex flex-column p-4" style="background-color: #130F0F;">
                            <h3>AngularX-Social-Login</h3>
                            <p class="flex-grow-1" style="text-decoration: none;">
                                Simple JavaScript based authentication module for Angular 4+ with 150+ github stars and 50000+ downloads.
                            </p>
                            <div class="d-flex">
                                <span class="badge badge-secondary mr-1">Angular</span>
                                <span class="badge badge-secondary mr-1">TypeScript</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto nostyle noline" href="https://assistant.google.com/services/a/uid/000000b9aa82e1ed?hl=en"
                        target="_blank">
                        <div class="portfolio-content d-flex flex-column p-4" style="background-color: #1D83C1;">
                            <h3>Word Wizard</h3>
                            <p class="flex-grow-1" style="text-decoration: none;">
                                A simple chatbot for Google Assistant that helps to learn and memorize new English words.
                            </p>
                            <div class="d-flex">
                                <span class="badge badge-dark mr-1">Google Dialogflow</span>
                                <span class="badge badge-dark mr-1">NodeJS</span>
                                <span class="badge badge-dark mr-1">Firebase</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto nostyle noline" href="http://open-imagine.sourceforge.net/"
                        target="_blank">
                        <div class="portfolio-content d-flex flex-column p-4" style="background-color: #1037B5;">
                            <h3>Imagine Picture Viewer</h3>
                            <p class="flex-grow-1" style="text-decoration: none;">
                                Imagine was a simple photo-viewer for Windows XP / Vista / 7 with some basic picture-editing capability.
                            </p>
                            <div class="d-flex">
                                <span class="badge badge-secondary mr-1">C#</span>
                                <span class="badge badge-secondary mr-1">.NET</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto nostyle noline" href="https://github.com/abacritt/sectionedmergeadapter"
                        target="_blank">
                        <div class="portfolio-content d-flex flex-column p-4" style="background-color: #CCB2A3;">
                            <h3>Sectioned Adapter - Android</h3>
                            <p class="flex-grow-1" style="text-decoration: none;">
                                Android library to work with sections and subheaders in Android ListViews.
                            </p>
                            <div class="d-flex">
                                <span class="badge badge-secondary mr-1">Android</span>
                                <span class="badge badge-secondary mr-1">Java</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">About</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-8 mx-auto">
                    <p class="lead">I am a full-stack developer specializing in JavaScript based stack. A seasoned technologist, I have over 9 years of experience in developing web based applications, APIs, Android apps leveraging JavaScript based stack (NodeJS, GraphQL, MongoDB, Angular, Bootstrap), Java and PAASs.</p>
                    <p class="lead">I have first hand experience with managing all aspects of product development (conceptualization, analysis, design / architecture, and implementation) and have demonstrated strong communication and mentoring skills within and across engineering and product management teams in top organizations. Combined with a strong educational background, I am a quick learner and fit to adapt to changing dynamics in the ever-evolving tech landscape.</p>
                </div>
            </div>
            <div class="text-center mt-4 d-none">
                <a class="btn btn-xl btn-outline-light" href="#">
                    <i class="fas fa-download mr-2"></i>
                    Download Now!
                </a>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Contact</h4>
                    <p class="lead">504, Arca Sarovar, Indira Nagar
                        <br>Gachibowli, Hyderabad - 500032
                    </p>
                    <p>
                        <a href="tel: +919010661681" class="mr-1">
                            <i class="fa fa-phone mr-1"></i> 
                            +91 9010661681
                        </a>
                    |
                        <a href="mailto: jaibatrik@gmail.com" class="ml-1">
                            <i class="fa fa-envelope mr-1"></i> 
                            jaibatrik@gmail.com
                        </a>
                    </p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Social Media</h4>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/jaibatrik" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-fw fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/jaibatrik" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/jaibatrik/" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-fw fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://500px.com/jaibatrik" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-fw fa-500px"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">Developer profiles</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <i class="fab fa-github mr-1"></i>
                            <a href="https://github.com/jaibatrik" target="_blank" rel="noopener noreferrer" class="nostyle">
                                 Github Profile
                            </a>
                        </li>
                        <li class="nav-item mb-1">
                            <i class="fab fa-stack-overflow mr-1"></i>
                            <a href="https://stackoverflow.com/users/1086930/jaibatrik" target="_blank" rel="noopener noreferrer" class="nostyle">
                                 StackOverflow Profile
                            </a>
                        </li>
                        <li class="nav-item mb-1">
                            <i class="fab fa-npm mr-1"></i>
                            <a href="https://www.npmjs.com/~jaibatrik" target="_blank" rel="noopener noreferrer" class="nostyle">
                                 npm Profile
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Jaibatrik Dutta 2018</small>
        </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>